# Dependencies
node_modules/

# IDE Settings
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# DB
src/indexing/db
src/indexing/n-grams
src/indexing/substane-db

#MacOS
.DS_Store
